<!-- views/user/new.erb -->
<h1>Sign up for our Sneaker profile!</h1>
<!-- set all of the params and had them nested under user -->
<form class="" action="/users" method="post"
  <label for="name">Name:</label>
  <input type="text" name="user[name]" value=""><br/>
  <label for="Password">Password:</label>
  <input type="password" name="user[password]" value=""><br/>
  <input type="submit" value="Sign Up!">
</form><br>
<hr><br>

<h2> Already have an account? <a href="/login">Click me</a></h2>
