<h1>Oops, theres an error!</h1>
<p>Your name might be typed in wrong, words are case sensitive.
Your password may be wrong, be sure to double check! Dare I say, you've
never even logged in!</p>
<a href="/login"><button type="button"><font size="+1">Login</font></button></a>
