<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to your new sneaker portfolio!</h2>

    <div class="content">
      <p>Thank you for visiting! Click <a href="/login">login</a> to log in! Or click
      <a href="/users/new">Sign up</a> to be apart of the community!</p>

      <p>Is there some sneakers you'd like to add? Please sign up and sign in first!</p>

      <div class="sneakers">
        <p>Check out some of the <a href="/sneakers">sneakers</a> people own!

      </div>
    </div>
  </div>
</div>
