<h1>Didn't get the name right the first time? That's ok!</h1>

<form action="/sneakers/<%= @sneaker.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Edit Your Sneakers:</label>
  <br>
  Name:<input type="text" name="sneaker[name]" value="<%=@sneaker.name%>"><br>
  Year:<input type="text" name="sneaker[year]" value="<%= @sneaker.year%>">
  <br>
  <input type="submit" value="update sneaker">
</form>
