<!-- views/sneakers/new.erb  -->
<!-- <h3>Add some sneakers to yours or your friends account!</h3>

<form class="" action="/sneakers" method="post">
  <label for="name">Name:</label>
  <input type="text" name="sneaker[name]" value=""><br/>
  <label for="year">Year:</label>
  <input type="text" name="sneaker[year]" value=""><br/>
  <select name="sneaker[user_id]">
    < @users.each do |user| %>
      <option value="< user.id %>">< user.name %></option>
    < end %>
  </select>
  <input type="submit" value="Create Sneaker">
</form>
<br>
<p>Wanna go back to <a href="/hello">login?</a></p> -->
